.QuestionForm {
  width: 90%;
  max-width: 512px;
}

.QuestionTextField {
  margin-bottom: 20px;
}

.ChoiceField {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.ChoiceTextField {
  width: 100%;
}

.SubmitButton {
  margin-top: 20px;
}
